<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Página de Inicio{% endblock %}</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'AppAndrea:AppAndrea' %}">App Andrea</a></li>
            <li><a href="{% url 'AppAndrea:AppAndrea2' %}">App Andrea 2</a></li>
            <li><a href="{% url 'AppValeria:AppValeria1' %}">App Valeria</a></li>
            <li><a href="{% url 'AppValeria:AppValeria2' %}">App Valeria 2</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>